@import url('https://fonts.googleapis.com/css?family=Poiret+One');

/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset */

body {
	background-image: url("../images/bg01.png");
	/*background-color: #7B7B7B;*/
	background-repeat: repeat;
}

#wrapper {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	max-width: 1350px;
	border: 0px solid #000;	
}

h1 {
    margin-top: 0;
}

#sidebar {
	margin-right: 15px;
	width: 300px;
	height: 100%;
	color: #444444;
	float: left;
}

#taskrr {
	float: left;
	width: 400px;
}

#logo {
	font-family: 'Poiret One', cursive;
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	font-size: 45px;
	color: #fff;
	line-height: 137px;
	text-align: center;
	text-decoration: none;
	background: #1d1d1d;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	transition: all 150ms ease-in;
}

#logo:hover {
	color: #ccc;
	text-decoration: none;
	background: #333;
}

.input {
	margin-bottom: 5px;
}

#addTodoText {
	height: 30px;
	border: 0px solid red;
	background-color: #E8E8E8;
	border-radius: 4px;
	padding: 12px 7px;	
}

#addTodoText:focus {
	outline-width: 0;
}

#addListText {
	height: 30px;
	border: 0px solid red;
	background-color: #E8E8E8;
	border-radius: 4px;
	padding: 12px 7px;	
}

#addListText:focus {
	outline-width: 0;
}

.fa-plus {
	vertical-align: middle;
	font-size: 20px;
	color: #28CA00;
}

.fa-plus:hover {
	font-size: 20px;
	color: #31F900;
}


.liClass {
	width: 400px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #EAEAEA;
	/*position: relative;*/
}

.liClass:hover {
	background-color: #EDEDED;
	border-radius: 5px;
	cursor: pointer;
}

.liClassCompleted {
	width: 400px;
	height: 40px;
	text-decoration: line-through;
	color: #A7A7A7;
	line-height: 40px;
	position: relative;
}

.liClassCompleted:hover {
	background-color: #EDEDED;
	border-radius: 5px;
	cursor: pointer;
}

.liClassLongText {
	width: 400px;
	padding-left: 40px;
	padding-right: 50px;
	line-height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.liClassLongText:hover {
	background-color: #EDEDED;
	border-radius: 5px;
}

.liClassCompletedLongText {
	width: 400px;
	padding-left: 40px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: line-through;
	color: #A7A7A7;
	line-height: 25px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.liClassCompletedLongText:hover {
	background-color: #EDEDED;
	border-radius: 5px;
}

#lists {
	float: left;
	margin-left: 30px;
}

.listsLiClass {
	padding-left: 20px;
	width: 400px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #EAEAEA;
}

.listsLiClass:hover, .active {
	background-color: #EDEDED;
	border-radius: 5px;
	cursor: pointer;
}

.deleteButton {
	float: right;
	margin-left: 5px;
}

.fa-edit {
	display: none;
	line-height: 40px;
	font-size: 18px;
	float: right;
	color: #0083D3;	
}

.fa-edit:hover {
	float: right;
	color: #00B6FF;	
}

.liClass:hover > .fa-edit {
	display: inline;
}

.liClass:hover > .fa-times {
	display: inline;
}

.listsLiClass:hover > .fa-edit {
	display: inline;
}

.listsLiClass:hover > .fa-times {
	display: inline;
}

.liClass:hover > .fa-edit {
	display: inline;
}

.liClassCompleted:hover > .fa-times {
	display: inline;
}

.fa-times {
	display: none;
	line-height: 40px;
	font-size: 23px;
	float: right;
	margin-left: 5px;
	margin-right: 10px;
	color: #B40000;
}

.fa-times:hover {
	float: right;
	margin-left: 5px;
	color: #FF0000;
}

.fa-check {
	float: left;
	margin-left: 5px;
	line-height: 40px;
	font-size: 20px;
	color: #28CA00;
}

.fa-check:hover {
	color: #31F900;
}

.editButton {
	margin-left: 10px;
}

.editTextInput {
	margin-top: 5px;
	margin-left: 26px;
	float: left;
	height: 30px;
	border: 0px solid red;
	background-color: #D2D2D2;
	border-radius: 4px;
	padding: 12px 7px;
	outline-width: 0;
}

.confirmEditButton {
	margin-left: 5px;
	float: left;
}

.checkboxInput {
	position: relative;
	float: left;
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 13px;
	opacity: 0;
	z-index: 999;
/*	position: absolute; 
	left: -30px; 
	top: 0;*/
}

.fa-circle {
	color: #A7A7A7;
	font-size: 20px;
	position: relative;
	float: left;
	margin-right: 5px;
	margin-top: 10px;
	margin-left: -20px;
	z-index: 900;
/*	position: absolute; 
	left: 0px; 
	top: 0;*/
}

.fa-check-circle {
	color: #28CA00;
	font-size: 20px;
	position: relative;
	margin-right: 5px;
	margin-left: -20px;
	float: left;
	display: none;
	z-index: 900;
/*	position: absolute; 
	left: 0px; 
	top: 0;*/
}

input[type=checkbox]:checked ~ .fa-check-circle{
	display: inline-block;
	margin-top: 10px;
}

input[type=checkbox]:checked ~ .fa-circle{
	display: none;
}

input[type=checkbox]{
	transform: scale(3);
}

.image img{
	border-radius: 4px;
	width: 100%;
	height: auto;
	display: block;
}

.row > * {
	margin: 0 0 20px 0;
	padding: 0 10px;
}


@media screen and (max-width: 800px) {
	#sidebar {
		float: none; 
		width: 200px;
		margin-bottom:20px;
		margin-left: auto;
		margin-right: auto;
	}

	#taskrr {
		float: none;
		margin-left: auto;
		margin-right: auto;		
	}

	#wrapper {
		margin-top: 50px;
	}
}


@media screen and (max-width: 320px) {
	.container img {
		
	}
}


