@import url('https://fonts.googleapis.com/css?family=Poiret+One');

/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	background-image: url("../images/bg01.png");
	background-repeat: repeat;
	font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 11pt;
    width: calc(100vw - 34px);
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
	max-width: 1350px;
	border: 0px solid #000;	
}

#sidebar {
	margin-top: 100px;
	margin-right: 15px;
	float: left;
	width: 300px;
	height: 100%;
	color: #444444;
}

#logo {
	margin: 0 auto 30px auto;
	width: 150px;
	height: 150px;
	display: block;
	border-radius: 75px;
	line-height: 137px;
	font-family: 'Poiret One', cursive;
	font-size: 45px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #1d1d1d;
	transition: all 150ms ease-in;
}

#logo:hover {
	color: #ccc;
	text-decoration: none;
	background: #333;
}

#addTodoText, 
#addListText {
	margin-bottom: 5px;
	padding: 0 8px 0 8px;
	height: 30px;
	border: 0px solid red;
	border-radius: 4px;
	background-color: #E8E8E8;
	font-size: 0.95em;
}

#addTodoText:focus, 
#addListText:focus {
	outline-width: 0;
}

#taskrr {
	float: left;
	width: 400px;
	margin: 0 30px 20px 0;
}

.liClass {
	display: block;
	width: 400px;
	height: auto;
	padding: 2px 0 10px 0;
	/*margin: 0 0 20px 0;*/
	overflow-wrap: break-word;
	border-bottom: 1px solid #EAEAEA;
}


.listsLiClass {
	width: 400px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #EAEAEA;
	overflow-wrap: break-word;
}

.listsLiClass {
	padding-left: 20px;
}

.liClass:hover, 
.liClassCompleted:hover,
.listsLiClass:hover {

	background-color: #EDEDED;
	cursor: pointer;
}

.liClassCompleted {
	/*display: inline-block;*/
	width: 400px;
	height: 100%;
	padding: 2px 0 10px 0;
	line-height: 40px;
	overflow-wrap: break-word;
	text-decoration: line-through;
	border-bottom: 1px solid #EAEAEA;
	color: #A7A7A7;
}

#lists {
	float: left;
}

.listsUl .editTextInput {
	margin-left: -7px;
}

.active {
	padding-left: 15px;
	border-left: 5px solid #CFCFCF;
	background-color: #EDEDED;
	cursor: pointer;  
}

.noTasks {
	padding: 5px 0 0 5px;
	color: #ACACAC;
	cursor: pointer;
}

.fa-plus {
	vertical-align: middle;
	font-size: 20px;
	color: #28CA00;
}

.fa-plus:hover {
	font-size: 20px;
	color: #31F900;
}

.fa-edit {
	float: right;
	display: none;
	line-height: 40px;
	font-size: 18px;
	color: #0083D3;	
}

.fa-edit:hover {
	color: #00B6FF;	
}

.liClass:hover > .fa-edit {
	display: inline;
}

.liClass:hover > .fa-times {
	display: inline;
}

.listsLiClass:hover > .fa-edit {
	display: inline;
}

.listsLiClass:hover > .fa-times {
	display: inline;
}

.liClassCompleted:hover > .fa-times {
	display: inline;
}

.fa-times {
	display: none;
	float: right;
	margin: 0 10px 0 5px;
	line-height: 40px;
	font-size: 23px;
	color: #B40000;
}

.fa-times:hover {
	color: #FF0000;
}

.fa-check {
	float: right;
	margin-right: 25px;
	line-height: 40px;
	font-size: 20px;
	color: #28CA00;
}

.fa-check:hover {
	color: #31F900;
}

.editTextInput {
	margin: 5px 0 0 26px;
	padding: 4px 8px;
	font-size: 1em;
	border-radius: 3px;
	background-color: #DEDEDE;
	width: 320px;
	height: 20px;
	outline-width: 0;
	box-sizing: border-box;
	resize: vertical;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.confirmEditButton {
	float: left;
	margin-left: 5px;
}

.checkboxInput {
	float: left;
	position: relative;
	margin: 13px 5px 0 10px;
	opacity: 0;
	z-index: 999;
}

.fa-circle {
	float: left;
	margin: 10px 7px 0 -20px;
	font-size: 20px;
	color: #A7A7A7;
	z-index: 900;
}

.todoText {
	margin-top: 10px;
	line-height: 20px;
	padding-left: 35px;
	padding-right: 55px;
	/*border-bottom: 1px solid #EAEAEA;*/
	/*text-align: justify;*/
}

.todoText:hover {
	background-color: #EDEDED;
}

.fa-check-circle {
	display: none;
	float: left;
	margin: 0 7px 0 -20px;
	font-size: 20px;
	color: #28CA00;
	z-index: 900;
}

.highPriority {
	border-left: 5px solid red;
}

.mediumPriority {
	border-left: 5px solid orange;
}

.lowPriority {
	border-left: 5px solid yellow;
}

.noPriority {
	border-left: 5px solid rgb(0, 0, 0, 0);
}

input[type=checkbox]:hover ~ .todoText {
	background-color: #EDEDED;
}

input[type=checkbox]:checked ~ .fa-check-circle {
	display: inline-block;
	margin-top: 10px;
}

input[type=checkbox]:checked ~ .fa-circle {
	display: none;
}

input[type=checkbox] {
	transform: scale(3);
}

#priorityCheckbox {
	transform: scale(2);

}

@media screen and (max-width: 1000px) {
	#sidebar {
		float: none; 
		width: 200px;
		margin: 50px 0 -10px 0;
		margin-left: auto;
		margin-right: auto;
	}

	#taskrr {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;		
	}

	#lists {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;	
	}

	.container {
		margin-top: 50px;
	}
}



